<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/img/1.png" width="30" height="30" class="d-inline-block align-top" alt="">
          aguero
    </a>
    <a href="/articles" class="btn btn-outline-success">Home</a>
    <a href="mailto:rubenomaraguero@gmail.com" class="btn btn-outline-info">email c:</a>
  </nav>